<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<!-- Candidate number 2005 -->
<body>
  <div class="navbar navbar-default" role="navigation">
  <div>
      <p class="navbar-brand text-muted">Grant application</p>
  </div>
  </div>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Thank you<h3>
        </div>
        <hr/>
<p>Thank you for applying, {{name}}. We'll be in touch!</p>
        <hr/>
    </div>
    </div>
</body>
</html>
