<!DOCTYPE html>
<html lang="en">
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
	<style>
	   body {
	       background-image: url(static/StockSnap_GQ3TV02RS6.jpg);
	       background-size: cover;
	   }
	   html, body {
	       min-height: 100%;
	   }
	   .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3 {
	     border-radius: 10px;
	   }
	</style>
	<title>Thank you</title>
</head>
<!-- Candidate number 2005 -->
<body>
	<div class="navbar navbar-default" role="navigation">
		<div>
			<a class="navbar-brand text-muted" href="/">2017 Cheese Grant Application</a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3" style="background: white;">
				<div class="header">
					<h3 class="text-muted">Thank you</h3>
				</div>
				<hr>
				<p>Thank you for applying, {{name}}. We'll be in touch!</p>
				<hr>
			</div>
		</div>
	</div>
</body>
</html>
